:root {
  --color-main: #A1C4EB;
  --color-back: #212121;
  --color-card: #111111;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1900px;
  margin: 0 auto;
  background-color: var(--color-back);
}

body::-webkit-scrollbar {
  width: 2px;
  /* background-color: #212121; */
}

body::-webkit-scrollbar-track {
  background-color: var(--color-back);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: 1px;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  background-color: var(--color-back);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding-bottom: 15px;
  margin-bottom: 10px;
}

header>h1 {
  color: var(--color-main);
  padding: 10px 25px 0 25px;
}

.inputForm {
  display: flex;
  flex-direction: row;
  padding: 10px 25px 0 25px;
}

#input {
  color: var(--color-main);
  font-size: 15px;
  padding-left: 7px;
  background-color: var(--color-back);
  border: 2px solid var(--color-main);
  border-right: 0;
  width: 400px;
  height: 30px;
}

#input:focus {
  outline: none;
}

#inputButton {
  background-color: var(--color-main);
  border: 2px solid var(--color-main);
  width: 50px;
  color: var(--color-back);
  font-size: 15px;
  font-weight: bolder;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: var(--color-card);
  border-radius: 15px;
  overflow: hidden;
  /* background-color: #212121; */
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--color-back);
  width: 346px;
  height: 850px;
  margin-bottom: 25px;
}

.card:hover {
  border: 2px solid var(--color-main);
  border-radius: 0;
  width: 346px;
  cursor: pointer;
}

.card img {
  display: flex;
  width: 100%;
}

.card h2 {
  color: var(--color-main);
  margin-top: 5px;
  text-align: center;
}

.overview {
  margin-top: 10px;
  margin-left: 5px;
  overflow-y: auto;
}

.overview::-webkit-scrollbar {
  background-color: var(--color-card);
  /* background-color: #212121; */
}

.rating {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  color: var(--color-main);
}