* {
  margin: 0;
  padding: 0;
}

body {
  width: 1900px;
  margin: 0 auto;
  background-color: #212121;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  margin-bottom: 25px;
}

header > h1 {
  color: white;
  padding: 10px 25px 0 25px;
}

.inputForm {
  display: flex;
  flex-direction: row;
  padding: 10px 25px 0 25px;
}

#index {
  color: white;
  font-size: 15px;
  padding-left: 7px;
  background-color: #212121;
  border: 2px solid white;
  border-right: 0;
  width: 400px;
  height: 30px;
}

#index:focus {
  outline: none;
}

#inputButton {
  background-color: #212121;
  border: 2px solid white;
  width: 50px;
  color: white;
  font-size: 15px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: #111111;
  /* background-color: #212121; */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #212121;
  width: 346px;
  height: 850px;
  margin-bottom: 25px;
  cursor: pointer;
}
.card:hover {
  border: 2px solid white;
  width: 346px;
}
.card img {
  display: flex;
  width: 100%;
}
.card h2 {
  margin-top: 5px;
  text-align: center;
}

.overview {
  margin-top: 10px;
  margin-left: 5px;
  overflow-y: auto;
}
.overview::-webkit-scrollbar {
  background-color: #111111;
  /* background-color: #212121; */
}
.rating {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}